	/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Rouge+Script);

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

	/* Navbar */
.navbar {
	background: rgba(50, 50, 50, .7);
	border-bottom: none;
}
.navbar-header .navbar-toggle {
	background-color: #ccc;
}
.navbar-default .navbar-brand {
	font-size: 20px;
	color: #fff;
	transition: background-color 0.3s linear;
}
.navbar-default .navbar-brand:hover {
	background-color: rgba(50, 50, 50, .3);
}
.navbar-default .navbar-nav li a {
	font-size: 16px;
	color: #fff;
	transition: all 0.3s linear;
}
.navbar-default .navbar-nav li a:hover {
	background-color: rgba(50, 50, 50, .3);
	color: #fff;
}
.navbar-default .navbar-nav li a:before {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0px;
	height: 3px;
	background-color: #dcdcdc;
	transition: all 0.25s ease-out;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
}
.navbar-default .navbar-nav li a:hover:before {
	left: 0;
	right: 0;
}
.navbar-default .navbar-nav li a:focus {
	background-color: #dcdcdc;
	color: #333;
}

	/* Header */
.header {
    min-height: calc(100vh - 50px);
    padding-top: 50px;
    text-align: center;
    background: url(img/sanctum.jpg) no-repeat center center;
    background-size: cover;
}
.bg-header-overlay {
	background: rgba(0, 0, 0, 0.2);
	min-height: calc(100vh - 50px);
}
.header h1 {
	padding-top: 80px;
	font-family: 'Rouge Script', serif;
	font-size: 110px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px #000,
				1px 1px 25px #777,
				-1px -1px 25px #777,
				1px -1px 25px #777,
				-1px 1px 25px #777;
	animation-delay: 1s;
	animation-duration: 2s;
}
.header h3 {
	color: #ddd;
	font-size: 30px;
	text-shadow: 1px 1px 25px #bbb,
				1px 1px 1px #000,
				-1px -1px 25px #bbb,
				-1px -1px 1px #000,
				1px -1px 25px #bbb,
				1px -1px 1px #000,
				-2px 2px 25px #bbb,
				-1px 1px 1px #000;
	animation-delay: 3s;
	animation-duration: 4s;
}
.header hr {
	width: 50%;
	border-top: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	margin-top: 50px;
	margin-bottom: 55px;
}
.header .btn {
	background-color: #bbb;
	border: 1px solid #555;
	color: #222;
	margin-bottom: 35px;
	transition: all 0.3s linear;
}
.header .btn:hover {
	background-color: #ffda3c;
	color: #222;
	border: 1px solid #333;
	transform: scale(1.1);
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,0.5);
}

	/* Page Content */
.content {
	position: relative;
    min-height: 100vh;
    text-align: center;
    background: url(img/square.jpg) no-repeat center center fixed;
    background-size: cover;
}
/*.bg-content-overlay {
  background: rgba(0, 0, 0, 0);
  min-height: 100vh;
}*/
.content .slide1 {
	animation-delay: 0.7s;
	animation-duration: 3s;
}
.content h2 {
	font-size: 35px;
	padding-top: 80px;
	color: #eee;
	text-shadow: 1px 1px 25px #bbb,
				1px 1px 1px #000,
				-1px -1px 25px #bbb,
				-1px -1px 1px #000,
				1px -1px 25px #bbb,
				1px -1px 1px #000,
				-2px 2px 25px #bbb,
				-1px 1px 1px #000;
}
.content hr {
	width: 70%;
	border-top: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	margin-top: 50px;
	margin-bottom: 45px;
}
.content p {
	font-size: 20px;
	color: #fff;
	text-shadow: 2px 2px #000,
				1px 1px 10px #000,
				-1px -1px 10px #000,
				-1px 1px 10px #000,
				1px -1px 10px #000;
}
.content .slide2 {
	animation-delay: 1.5s;
	animation-duration: 3s;
}
.content img {
	margin-top: 100px;
	margin-bottom: 50px;
	border: 1px solid #888;
	border-radius: 40px 40px 40px 40px;
	transition: all 1s ease;
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
}
.content img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.04);
	border: 1px solid #555;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,0.5);
}

	/* Portfolio */
.portfolio {
    min-height: 100vh;
	position: relative;
    background: url(img/portfolio-trimming.png) repeat;
}
.bg-portfolio-overlay {
  	background: rgba(0, 0, 0, .3);
  	min-height: 100vh;
}
.portfolio h2 {
	font-family: 'Rouge Script', serif;
	font-size: 90px;
	padding-top: 20px;
	color: #fff;
	text-shadow: 1px 1px #000,
				2px 2px 20px #555,
				-2px -2px 20px #555,
				2px -2px 20px #555,
				-2px 2px 20px #555;
}
.portfolio .trimming {
	border: 1px solid #666;
    margin: -22px 20px 35px;
    padding: 30px 15px 0px;
    box-shadow: 0px 0px 40px 5px #eee, inset 0px 0px 15px 2px #333;
    background: url(img/portfolio-bg.png) repeat fixed;
}
.portfolio .image-box {
	border: 1px solid #666;
	outline: 3px solid #eee;
	overflow: hidden;
	box-shadow: 0 0 15px 2px #444;
	margin-bottom: 30px;
	transition: all 0.8s ease;
}
.portfolio .image-box:hover {
	outline: 3px solid transparent;
	border: 1px solid #888;
}
.portfolio img {
	-webkit-filter: saturate(0.2);
	filter: saturate(0.2);
	transform: scale(1.7) rotateZ(-15deg);
	box-shadow: 0 0 15px 1px #222;
	transition: all 0.5s ease-in;
}
.portfolio a:hover img {
	transform: scale(1) rotateZ(0deg);
	-webkit-filter: saturate(1.2);
	filter: saturate(1.2);
	opacity: 1;
}
.portfolio i {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);	
	transition: all 0.8s ease;
	text-shadow: 1px 1px 15px #fff,
				-1px -1px 15px #fff,
				-1px 1px 15px #fff,
				1px -1px 15px #fff;
	z-index: 1;
	opacity: .7;
}
.portfolio a:hover i {
	opacity: 0;
}
.portfolio p {
	position: absolute;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	margin: 0 auto;
	bottom: 60px;
	left: 50%;
	transform: scale(0.1) rotateZ(280deg);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5),
				1px -1px 1px rgba(0, 0, 0, .5),
				-1px 1px 1px rgba(0, 0, 0, .5),
				-1px -1px 1px rgba(0, 0, 0, .5),
				3px 3px 2px #555,
				0 0 20px #000;
	visibility: hidden;
	opacity: 0;
	transition: all 0.35s 0.25s ease-in-out;
}
.portfolio a:hover p {
	transform: scale(1) translate(-50%) rotateZ(360deg);
	visibility: visible;
	opacity: 1;
}

	/* Contact */
.contact {
    min-height: 100vh;
    margin-bottom: -50px;
	position: relative;
    background: url(img/coffee-table.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg-contact-overlay {
	background: rgba(0, 0, 0, 0.2);
	min-height: 100vh;
}
.contact h2 {
	font-family: 'Rouge Script', serif;
	font-size: 90px;
	margin-top: 50px;
	margin-bottom: 100px;
	color: #fff;
	text-shadow: 1px 1px #000,
				2px 2px 10px #222,
				-2px -2px 10px #222,
				2px -2px 10px #222,
				-2px 2px 10px #222;
}
.contact ul li {
	margin-bottom: 30px;
}
.contact ul li:last-child {
	padding-bottom: 50px;
}
.contact .btn {
	background-color: #222;
	border: 1px solid #666;
	color: #ddd;
	box-shadow: inset 2px 2px 15px 2px #bbb;
	transition: all 0.3s linear;
}
.contact .btn:hover {
	background-color: #ffda3c;
	border: 1px solid rgba(0, 0, 0, .7);
	color: #111;
	box-shadow: inset -2px -2px 20px 2px #555, 6px 6px 2px -2px rgba(0, 0, 0, .5);
}
.contact .slide1 {
	animation-delay: 0.5s;
	animation-duration: 2.5s;
}
.contact .slide2 {
	animation-delay: 1s;
	animation-duration: 2.5s;
}
.contact .slide3 {
	animation-delay: 1.5s;
	animation-duration: 2.5s;
}
.contact .slide4 {
	animation-delay: 2s;
	animation-duration: 2.5s;
}

	/* Footer */
.footer {
	position: relative;
	height: 50px;
	background-color: rgba(50, 50, 50, .3);
	color: #fff;
	text-shadow: 0 0 2px #000, 0 0 3px #fff, 4px 4px 3px #000;
	padding-top: 15px;
	border-top: 1px solid rgba(50, 50, 50, .4);
}

	/* Transition between sections */
.transition {
	position: absolute;
	top: -10px;
	width: 100%;
	height: 20px;
	background-color: #999;
	background: repeating-linear-gradient(-45deg, #fff 3px, #fff 4px, #777 4px, #777 5px, transparent 6px, transparent 8px),
				repeating-linear-gradient(45deg, #fff 3px, #fff 4px, #777 4px, #777 5px, transparent 6px, transparent 8px);
	opacity: 0.5;
}

 	/* Media queries */

@media screen and (max-width: 680px) {

		body {
			min-width: 320px;
		}
		.header {
    		padding-top: 0;
    	}
    	.bg-header-overlay {
    		padding-bottom: 180px;
    	}
 		.header h1 {
			font-size: 90px;
			padding-top: 40px;
 		}
 		.header hr {
 			margin-top: 25px;
 			margin-bottom: 25px;
 		}
		.header .social-buttons > li{
			display: block;
			margin-bottom: 25px;
		}
		.header li .btn {
			margin-bottom: 0;
		}
		.content h2 {
			padding-top: 40px;
		}
		.content img {
			margin-top: 40px;
		}
		.contact h2 {
			margin-bottom: 30px;
		}
}
