	/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Rouge+Script);

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

	/* Navbar */
.navbar {
	background: rgba(0, 0, 0, .5);
	border-bottom: none;
}
.navbar-header .navbar-toggle {
	background-color: rgba(0, 0, 0, .3);
}
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
	background-color: rgba(0, 0, 0, .7);
}
.navbar-header .navbar-toggle .icon-bar {
	background-color: #bbb;
}
.navbar-default .navbar-brand {
	font-size: 20px;
	color: #fff;
	box-shadow: 0 0 55px -15px #fff;
	transition: box-shadow 0.4s linear;
}
.navbar-default .navbar-brand:hover {
	box-shadow: none;
}
.navbar-default .navbar-nav li a {
	font-size: 16px;
	color: #fff;
	transition: all 0.3s linear;
}
.navbar-default .navbar-nav li a:hover {
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
}
.navbar-default .navbar-nav li a:before {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0px;
	height: 3px;
	background-color: #eee;
	transition: all 0.25s ease-out;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
}
.navbar-default .navbar-nav li a:hover:before {
	left: 0;
	right: 0;
}
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:active {
	color: #fff;
}
.active {
	background-color: #eee !important;
	color: #000 !important;
}

	/* Header */
.header {
	min-height: calc(100vh);
	padding-top: 50px;
	text-align: center;
	background: url(img/home-bg.jpg) no-repeat center center;
	background-size: cover;
}
.header h1 {
	font-family: 'Rouge Script', serif;
	font-size: 110px;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 1px 1px 1px #000,
				-1px -1px 1px #000,
				1px -1px 1px #000,
				-1px 1px 1px #000,
				6px 6px 6px #000;
	padding-top: 80px;
	animation-delay: 0.5s;
	animation-duration: 2s;
}
.header h3 {
	font-size: 30px;
	color: #fff;
	text-shadow: 
				1px 1px 1px #000,
				-1px -1px 1px #000,
				1px -1px 1px #000,
				-1px 1px 1px #000,
				4px 4px 5px #000;
	animation-delay: 2.5s;
	padding: 0 20px 0 20px;
	animation-duration: 3s;
}
.header hr {
	width: 50%;
	border-top: 1px solid rgba(0, 0, 0, .8);
	border-bottom: 1px solid rgba(255, 255, 255, .6);
	margin-top: 50px;
	margin-bottom: 55px;
}
.header .btn {
	background-color: #eee;
	border: 1px solid #555;
	color: #222;
	margin-bottom: 35px;
	transition: all 0.3s linear;
}
.header .btn:hover {
	background-color: #222;
	color: #eee;
	border: 1px solid #eee;
	transform: scale(1.1);
	box-shadow: 6px 6px 2px -2px rgba(0, 0 ,0 , .5);
}

	/* Page Content */
.content {
	position: relative;
	min-height: 100vh;
	text-align: center;
	background: url(img/about-bg.jpg) no-repeat center center fixed;
	background-size: cover;
}
.content .slide1 {
	animation-delay: 1.5s;
	animation-duration: 2s;
	margin-top: 100px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, .2);
	padding: 30px 10px;
	transition: all .3s linear;
}
.content .slide1:hover {
	box-shadow: 0 0 20px rgba(255, 255, 255, .7);
	background-color: rgba(0, 0, 0, .7);
}
.content hr {
	width: 70%;
	border-top: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	margin-top: 45px;
	margin-bottom: 40px;
}
.mini-header:after {
	content: "";
	display: block;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 90px;
	height: 1px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #000,
				-1px -1px 5px #000,
				-1px 1px 5px #000,
				1px -1px 5px #000;
}
.content p, .skills {
	position: relative;
	font-size: 20px;
	color: #fff;
	text-shadow: 2px 2px #000,
				1px 1px 5px #000,
				-1px -1px 5px #000,
				-1px 1px 5px #000,
				1px -1px 5px #000;
}
.skills {
	padding-left: 25px;
	text-align: left;
}
.content .slide2 {
	animation-delay: 2.5s;
	animation-duration: 2.5s;
}
.content img {
	margin-top: 100px;
	margin-bottom: 50px;
	border: 1px solid #888;
	border-radius: 5%;
	transition: all .3s linear;
}
.content img:hover {
	background-color: #000;
	border: 1px solid #444;
	box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}

	/* Portfolio */
.portfolio {
	min-height: 100vh;
	position: relative;
	background: url(img/portfolio-bg.jpg) no-repeat;
	background-size: cover;
}
.portfolio h2 {
	font-family: 'Rouge Script', serif;
	font-size: 90px;
	padding-top: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px #000,
				-1px -1px 1px #000,
				1px -1px 1px #000,
				-1px 1px 1px #000;
}
.portfolio .trimming {
	margin: -22px 20px 35px;
	padding: 30px 15px 0px;
	border: 1px solid #333;
	box-shadow: 0px 0px 50px 0px #fff, inset 0px 0px 20px 2px #000;
	background: url(img/portfolio-bg.jpg) no-repeat center center fixed;
}
.portfolio .image-box {
	border: 1px solid #333;
	overflow: hidden;
	margin-bottom: 30px;
	background: linear-gradient(165deg, red, orange, yellow, green, blue, indigo, violet);
	box-shadow: 0 0 20px 3px #000;
	transition: all 0.8s ease;
}
.portfolio .image-box:hover {
	box-shadow: none;
}
.portfolio img {
	transform: scale(1.7) rotateZ(-15deg);
	box-shadow: 0 0 15px 1px #222;
	transition: all 0.5s ease-in;
	opacity: .5;
}
.portfolio a:hover img {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
}
.portfolio i {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);	
	transition: all 0.8s ease;
	text-shadow: 1px 1px 15px #fff,
				-1px -1px 15px #fff,
				-1px 1px 15px #fff,
				1px -1px 15px #fff;
	z-index: 1;
	opacity: .8;
}
.portfolio a:hover i {
	opacity: 0;
}
.portfolio p {
	position: absolute;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	margin: 0 auto;
	bottom: 30%;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5),
				1px -1px 1px rgba(0, 0, 0, .5),
				-1px 1px 1px rgba(0, 0, 0, .5),
				-1px -1px 1px rgba(0, 0, 0, .5),
				3px 3px 2px #555,
				0 0 20px #000;
	opacity: 0;
	transition: all 0.45s 0.35s ease-in-out;
}
.portfolio a:hover p {
	bottom: 20%;
	opacity: 1;
}

	/* Contact */
.contact {
	min-height: 100vh;
	margin-bottom: -50px;
	position: relative;
	background: url(img/contact-bg.jpg) no-repeat center center fixed;
	background-size: cover;
}
.contact h2 {
	font-family: 'Rouge Script', serif;
	font-size: 90px;
	margin-top: 50px;
	margin-bottom: 100px;
	color: #fff;
	text-shadow: 1px 1px 1px #000,
				-1px -1px 1px #000,
				1px -1px 1px #000,
				-1px 1px 1px #000;
}
.contact ul li {
	margin-right: 40px;
	margin-bottom: 30px;
}
.contact ul li:last-child {
	padding-bottom: 50px;
}
.contact .btn {
	background-color: #111;
	border: 1px solid #222;
	color: #eee;
	letter-spacing: 0.1em;
	box-shadow: inset 2px 2px 15px 2px #ddd;
	transition: all 0.3s linear;
}
.contact .btn:hover {
	background-color: #ffda3c;
	border: 1px solid rgba(0, 0, 0, .7);
	color: #111;
	box-shadow: inset -2px -2px 20px 2px #222, 6px 6px 2px -2px rgba(0, 0, 0, .5);
}
.contact .btn i {
	margin-right: 5px;
}
.contact .slide1 {
	animation-delay: 1s;
	animation-duration: 2.5s;
}
.contact .slide2 {
	animation-delay: 1.5s;
	animation-duration: 2.5s;
}
.contact .slide3 {
	animation-delay: 2s;
	animation-duration: 2.5s;
}
.contact .slide4 {
	animation-delay: 2.5s;
	animation-duration: 2.5s;
}

	/* Footer */
.footer {
	position: relative;
	height: 50px;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
	text-shadow: 0 0 2px #000, 4px 4px 2px #000;
	padding-top: 15px;
	border-top: 1px solid rgba(0, 0, 0, .5);
}

	/* Transition between sections */
.transition {
	position: absolute;
	top: -10px;
	width: 100%;
	height: 20px;
	background-color: #999;
	background: repeating-linear-gradient(-45deg, #fff 3px, #fff 4px, #000 4px, #000 5px, transparent 6px, transparent 8px),
				repeating-linear-gradient(45deg, #fff 3px, #fff 4px, #000 4px, #000 5px, transparent 6px, transparent 8px);
	opacity: 0.5;
}

	/* Media queries */

@media screen and (max-width: 680px) {

		body {
			min-width: 320px;
		}
		.header {
			padding-top: 0;
			padding-bottom: 180px;
		}
		.header h1 {
			font-size: 90px;
			padding-top: 40px;
		}
		.header hr {
			margin-top: 25px;
			margin-bottom: 25px;
		}
		.header .social-buttons > li{
			display: block;
			margin-bottom: 25px;
		}
		.header li .btn {
			margin-bottom: 0;
		}
		.content h2 {
			padding-top: 40px;
		}
		.content img {
			margin-top: 40px;
		}
		.contact h2 {
			margin-bottom: 30px;
		}
}