/* Fonts */
@font-face {
  font-family: "SegoeUIRegular";
  src: url("fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"),
  url("fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIBold";
  src: url("fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"),
  url("fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
  url("fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIItalic";
  src: url("fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"),
  url("fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
  url("fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("fonts/SegoeUILight/SegoeUILight.eot");
  src: url("fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"),
  url("fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"),
  url("fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
  url("fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "SegoeUIRegular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
  min-width: 320px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dg.ac {
  display: none;
}

a:hover, a:focus {
	color: #ccc;
	text-decoration: none;
	outline: none;
}

.show-more {
  display: none;
}

/* Home */
.home {
  min-height: calc(100vh);
  padding-top: 20px;
}

.home-top {
  position: absolute;
  font-family: "SegoeUIRegular", Helvetica, sans-serif;
  font-size: 16px;
	line-height: 1.5;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home .home-content {
  position: absolute;
  top: 65vh;
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.home h1 {
  font-family: "SegoeUIBold", Helvetica, sans-serif;
  font-size: 80px;
  line-height: 1.25;
  color: #fff;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home p {
	font-family: "SegoeUIRegular", Helvetica, sans-serif;
	font-size: 20px;
	line-height: 28px;
	color: #888;
	max-width: 4000px;
	margin: 12px 0;
	animation-duration: 2s;
	animation-delay: 1.8s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* nav */

.nav {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  z-index: 10;
}

.nav a {
  position: relative;
  display: block;
  width: 50px;
  font-family: "SegoeUIRegular", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
	text-align: right;
  margin-bottom: 24px;
  opacity: .5;
  transition: opacity .3s;
}

.nav a.active, .nav a:hover {
  opacity: 1;
}

.nav a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  width: 24px;
  height: 2px;
  background-color: #fff;
}

/* Portfolio */
.portfolio {
  position: relative;
  min-height: 100vh;
  padding-top: 100px;
}

.portfolio .image-box {
  position: relative;
  margin-bottom: 30px;
  transition: all 0.8s ease;
}

.portfolio .text-box {
  color: #fff;
  background-color: #1a1a1a;
  padding: 20px;
  margin-bottom: 30px;
}

.text-box-title {
  font-family: "SegoeUISemiBold", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin: 0 0 16px;
}

.text-box-text {
  margin: 0;
  list-style: none;
  padding-left: 0;
  opacity: .9;
}

.portfolio .image-box:hover {
  box-shadow: none;
}

.portfolio img {
  display: block;
  width: 100%;
  height: auto;
}

.image-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  transition: background-color .5s ease-in-out;
  pointer-events: none;
}

.image-box:hover:before {
  background-color: rgba(0,0,0,.55);
}

.portfolio .image-title {
	position: absolute;
	font-family: "SegoeUISemiBold", Helvetica, sans-serif;
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	bottom: 60px;
	left: 48px;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.image-box:hover .image-title {
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

.portfolio .image-text {
	position: absolute;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	white-space: nowrap;
	margin: 12px auto;
	bottom: 36px;
	left: 48px;
	opacity: 0;
  transition: all 0.5s ease-in-out;
}

.image-box:hover .image-text {
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

.more {
  position: relative;
  display: table;
  margin: 50px auto;
  color: #fff;
  font-size: 30px;
  width: 115px;
  text-decoration: none;
  overflow: hidden;
  transition: color .25s;
}

.more:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
}

.more-dots {
  position: absolute;
  bottom: 0;
  right: -42px;
  white-space: nowrap;
  animation: dots 2s ease-in-out infinite;
}

@keyframes dots {
  from {
    width: 79px;
  }
  to {
    width: 50px;
  }
}

/* Contact */
.contact {
  min-height: 100vh;
  margin-bottom: -50px;
  padding-top: 50px;
  position: relative;
}

.contact h2 {
  font-family: "SegoeUIBold", Helvetica, sans-serif;
  font-size: 54px;
  margin-bottom: 100px;
  color: #fff;
}

.contact ul li {
  margin-right: 40px;
  margin-bottom: 30px;
}

.contact ul li:last-child {
  padding-bottom: 50px;
}

.contact-items {
  list-style: none;
  padding: 0;
}

.contact .contact-item {
  color: #fff;
  text-decoration: none;
}

.contact i {
  font-size: 28px;
  margin-right: 10px;
}

.contact .network-name {
  font-family: "SegoeUIBold", Helvetica, sans-serif;
  font-size: 24px;
}

.contact .slide1 {
  animation-duration: 2.5s;
  animation-delay: 0.7s;
}

.contact .slide2 {
  animation-duration: 2.5s;
  animation-delay: 1.2s;
}

.contact .slide3 {
  animation-duration: 2.5s;
  animation-delay: 1.7s;
}

.contact .slide4 {
  animation-duration: 2.5s;
  animation-delay: 2.2s;
}

/* Footer */
.footer {
  position: relative;
  height: 50px;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
  text-shadow: 0 0 2px #000, 4px 4px 2px #000;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, .5);
}

.footer p {
  text-align: center;
  color: #eee;
}

/* Media queries */

@media screen and (max-width: 991px) {
	.home h1 {
		font-size: 54px;
	}
	.home p {
		font-size: 16px;
	}
	.nav {
		display: none;
	}
	.portfolio .text-box {
		padding-top: 10px;
	}
	.text-box-title {
		font-size: 20px;
		line-height: 30px;
	}
	.text-box-text {
		font-size: 14px;
	}
	.contact h2 {
		font-size: 36px;
	}
	.contact i {
		font-size: 18px;
	}
	.contact .network-name {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.portfolio-item {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		float: none;
	}
}

@media screen and (max-width: 680px) {
  .header {
    padding-top: 0;
    padding-bottom: 180px;
  }

  .header h1 {
    font-size: 90px;
    padding-top: 40px;
  }

  .header hr {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .header .social-buttons > li {
    display: block;
    margin-bottom: 25px;
  }

  .header li .btn {
    margin-bottom: 0;
  }

  .content img {
    margin-top: 40px;
  }

  .contact h2 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {
	.home-top {
		font-size: 14px;
	}
	.home h1 {
		font-size: 34px;
	}
	.home p {
		font-size: 14px;
	}
	.contact h2 {
		font-size: 24px;
	}
	.contact ul li {
		margin-bottom: 24px;
	}
	.contact ul li:last-child {
		padding-bottom: 35px;
		margin-bottom: 10px;
	}
	.footer-text {
		font-size: 10px;
	}
}